<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gamerreviewsfinaljava">





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GamerReviewsFinalJava"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31">


        <!-- Main activity entry point -->
        <activity
            android:name=".TestFragmentActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Game details screen -->
        <activity android:name=".GameDetailsActivity"
            android:exported="false" />

        <!-- Add review screen -->
        <activity android:name=".AddReviewActivity"
            android:exported="false" />

        <!-- Login screen (shown when user taps “Log In”) -->
        <activity android:name=".LoginActivity"
            android:exported="false" />

        <!-- Sign-up screen (shown when user taps “Sign Up”) -->
        <activity android:name=".SignUpActivity"
            android:exported="false" />


    </application>

</manifest>
